{{!-- user: nome do usuário --}}
<strong>Olá, {{ user }}</strong>
<p>Clique no botão abaixo para confirmar o email:</p>
<form action="{{link}}">
<button method= "GET" type="submit"> Ativar </button>
</form>
  <br />
